<div class="container-fluid">
		<div class="col-md-10 col-md-offset-1">
			<div class="jumbotron">
				<h1 id="inIt">Login</h1>
			</div>
			<div>
				<form ng-submit="loginController.login()">
					<h3>Username</h3>
						<input name="username" ng-model="loginController.username" id="inIt"></input>
					<h3>Password</h3>
						<input name="password" ng-model="loginController.password" id="inIt"></input>
					<br>
					<button type="submit" id="inIt">Login</button>
				</form>
				<form ng-submit="loginController.register()">
					<h1>NEW USER REGISTRATION</h1>
					<h4>New Username</h3>
						<input name="username" ng-model="loginController.Rusername" id="inIt"></input>
					<h4>New Password</h3>
						<input name="password" ng-model="loginController.Rpassword" id="inIt"></input>
					<h4>New Role</h3>
						<input type="number" name="role" ng-model="loginController.role" id="inIt"></input>
						<p>*Role 1 is for administrators, Role 2 is for users</p>
					<h4>New Num</h3>
						<input type="number" name="num" ng-model="loginController.num" id="inIt"></input>
					<br>
					<button type="submit" id="inIt">Register</button>
				</form>
			</div>
	</div>
</div>