<div class="container-fluid">
	<div class="col-md-10 col-md-offset-1">
		<div class="jumbotron">
			<h1 id="inIt">Admin</h1>
		</div>
		<div>
			<p style="color: white">URL: {{adminController.path}}</p>
		</div>
		<div>
			<form ng-submit="adminController.createURL()">
				<input name="label" ng-model="AdminController.urlLabel" id="inIt"></input>
				<button type="submit" id="inIt">Create URL</button>
			</form>
			<table>
				<li ng-repeat="x in adminController.getAllUrls()">
				<!-- to do -->
					<h3>Url Thingies</h3>
				</li>
			</table>
		</div>
	</div>
</div>